.profile__edit-button{
  background: url(../../../images/Edit_Button.svg) no-repeat;
  background-size: 8px;
  background-color: transparent;
  background-position: center;
  outline: none;
  margin: 7px 0 0;
  width: 18px;
  height: 18px;
  border: 1px solid #FFFFFF;
  transition: linear 1s;
  cursor: pointer;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {
    background-size: 10px;
    margin: 15px 0 0;
    width: 24px;
    height: 24px;
  }
}